<a href="https://colab.research.google.com/github/sungjindo/python_study/blob/main/ch12_%EB%8F%84%EC%84%B1%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이름: 도성진

# address.csv 파일에는 다음과 같이 사람들의 인적사항이 저장되어 있다. csv파일을 불러와서 sqlite로 address 테이블을 생성한 후 age가 30이상인 사람들의 name과 gender만 추출하는 코드를 생성하시오.

In [ ]:
import csv
import sqlite3

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# con = sqlite3.connect(':memory:')
# query = """CREATE TABLE IF NOT EXISTS sales (customey VARCHAR(20), product VARCHAR(40), amount FLOAT, date DATE);"""
# con.execute(query)
# con.commit()

In [ ]:
input_file = "/content/gdrive/My Drive/data/address.csv"

In [ ]:
# 작업 디렉토리 변경시 해당 경로에 db생성
import os
os.chdir('/content/gdrive/My Drive/data')

### 1. TABLE 생성하고 csv에서 불러온 내용을 db에 입력해보자.

In [ ]:
#con = sqlite3.connect(':memory:') # RAM에 DB 생성
con = sqlite3.connect('Address.db')
c = con.cursor()
con

In [ ]:
create_table = """CREATE TABLE IF NOT EXISTS address
                (name VARCHAR(20),phone FLOAT,address VARCHAR,gender,age FLOAT);"""

In [ ]:
c.execute(create_table) # 메모리로 열지 않고 지정한 경로에 데이터파일로 생성
con.commit() 
# commit: 모든 작업을 정상적으로 처리하겠다고 확정하는 명령어이다.
# 트랜젝션의 처리 과정을 데이터베이스에 반영하기 위해서, 변경된 내용을 모두 영구 저장한다.
# COMMIT 수행하면, 하나의 트랜젝션 과정을 종료하게 된다.
# TRANSACTION(INSERT, UPDATE, DELETE)작업 내용을 실제 DB에 저장한다.

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None) # 입력 파일의 첫 iteration 읽고 값 할당 후 넘김

In [ ]:
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    c.execute("INSERT INTO VALUES", data) #HINT: INSERT
con.commit()

### 2. 전체 DB를 SELECT * 을 활용해 fetch해보자.

In [ ]:
output = c.execute("SELECT * FROM address") # HINT: SELECT *
rows = output.fetchall() #커서의 fetchall() 메서드는 모든 데이타를 한꺼번에 클라이언트로 가져올 때 사용
rows

[('인성', '080-3333-xxxx', '서울시', '남', 30),
 ('하진', '090-0000-xxxx', '서울시', '여', 21),
 ('준', '090-2984-xxxxx', '서울시', '남', 45),
 ('민', '080-3333-xxxx', '부산시', '남', 32),
 ('하린', '', '부산시', '여', 55),
 ('빛나래', '080-5848-xxxx', '인천시', '여', 19),
 ('인아', '', '인천시', '여', 20),
 ('아린', '090-1922-xxxx', '속초시', '여', 25),
 ('기주', '090-0001-xxxx', '서귀포시', '남', 32)]

### 3. age가 30이상인 사람들의 name과 gender만 추출하는 코드를 생성하시오.

In [ ]:
output = c.execute("""SELECT name,gender FROM address WHERE age > 30;""")
c.fetchall()

[('준', '남'), ('민', '남'), ('하린', '여'), ('기주', '남')]

In [ ]:
c.close()
con.commit()
con.close()