<a href="https://colab.research.google.com/github/sungjindo/python_study/blob/main/ch1_%EB%8F%84%EC%84%B1%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**이름: 도성진**

### 1. A학생의 과목별 점수는 다음과 같다. 평균 점수를 구하여라.
* 국어:80, 영어:75, 수학:55

In [ ]:
a = 80
b = 75
c = 55
print((a+b+c)/3)
avg = (a+b+c)/3
print(avg)
#이처럼 여러방법 가능함.
#주석처리
#=은 대입연산자로 뒤의 값을 앞의 값으로 정의 ==가 같다라는 것을 정의 하고 표시함
#에서는 소괄호만 나타내도됨

70.0
70.0

### 2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 설명하라.

In [ ]:
if 13 % 2 is 1:
    print("홀수")
else:
    print("짝수")

홀수

### 3. A의 주민등록번호는 881122-1234567이다. A의 주민등록번호를 연월일(yymmdd)부분과 그 뒤의 숫자부분으로 나누어 출력해보자.

In [ ]:
pin = "881122-1234567"
yymmdd = pin[0:6]
num = pin[7:14]
print("주민등록 앞자리:", yymmdd)
print("주민등록 뒷자리:", num)

주민등록 앞자리: 881122
주민등록 뒷자리: 1234567

### 4. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [ ]:
print("주민등록성별:", pin[7])

주민등록성별: 1

### 5. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [ ]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

### 6. 다음과 같은 딕셔너리 a가 있다.

In [ ]:
a = dict({'b' : 'some', 'hard' : 'python'})
a

{'b': 'some', 'hard': 'python'}

### 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

In [ ]:
a['name'] = 'python'

In [ ]:
a[('a',)] = 'python'

In [ ]:
a[[1]] = 'python'

TypeError: ignored

In [ ]:
a[250] = 'python'

In [ ]:
이유: key의 값에 muteble한 변수인 list[]가 입력 되었기 때문?

SyntaxError: ignored

### 7. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 8. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해 설명해 보자.

In [ ]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [ ]:
이유: b값은 4가 추가된 [1,4,3]이 된다. 이유는 리스트는 muterble한 객체로 a와 b가 같은 객체로 만들어 졌다. a의 객체가 변하면 b도 변한 객체로 설정이 된다.